extends /layout
block content
  h1 Palabras Clave
  p.lead Listado de palabras clave
  .row.mb-2
    .col
      form.form-inline(method='POST', action='?redirect')
        .input-group
          input(type='text', placeholder="Palabra clave", name='keyword', required, autofocus).form-control
        button.btn.btn-primary.ml-2(type='submit') Añadir        
  .row
    .col
      ul.list-group
        each keyword in keywords
          li.list-group-item #{keyword.keyword}