extends /layout
block content
  h1 Autores
  p.lead Listado de autores
  .row.mb-2
    .col
      form.form-inline(method='POST', action='?redirect')
        .input-group
          input(type='text', placeholder="Autor", name='name', required, autofocus).form-control
        button.btn.btn-primary.ml-2(type='submit') Crear nueva        
  .row
    .col
      ul.list-group
        each author in authors
          li.list-group-item #{author.name}